<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arcsoft.arcfacedemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--允许管理所有文件,在 Android 11（API 级别 30）及以上版本中引入，用于替代之前的 WRITE_EXTERNAL_STORAGE 权限-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ArcFaceApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">

        <!-- Move the service element inside the application element -->
        <!--<service-->
        <!--    android:name=".service.TokenRefreshJobService"-->
        <!--    android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <activity
            android:name=".ui.activity.StartActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ActivationActivity"
            android:label="@string/active_engine" />


        <activity
            android:name=".ui.activity.LivenessDetectYuanAndJinActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.activity.LivenessDetectYuanActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name=".ui.activity.LivenessDetectJinActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.activity.CameraConfigureActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.activity.DataLengthCalculatorActivity"
            android:label="@string/page_calculate_data_length"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.RecognizeSettingsActivity"
            android:label="@string/page_settings"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.HomeActivity">
            <!--<intent-filter>-->
            <!--    <action android:name="android.intent.action.MAIN" />-->

            <!--    <category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.FaceManageActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RegisterAndRecognizeActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme"></activity>
        <activity
            android:name=".ui.activity.RecognizeDebugActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.activity.ImageFaceAttrDetectActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.activity.FaceCompareActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.arcsoft.arcfacedemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.arcsoft.arcfacedemo.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>